body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    width: 400px;
}

input,
textarea,
button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.note{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}